/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

 /*start reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /*end reset*/

/* general */
html{
  /* old background-color:#b3b3ff;  i like #660066, but #699fA1 is pretty*/
	background-color: #699fA1;
	font-size:1.125em;
	line-height:1.222em;
	/*font-family: 'Geneva', CenturyGothic, Geneva, AppleGothic, sans-serif;*/
	font-family: 'Nunito', Didact Gothic, CenturyGothic, Geneva, AppleGothic, sans-serif;
}

header{
  font:merriweather sans;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom:3em;
  color:#f2f2f2;
  background-color:#0d0d0d;
  border-style:inset;
  border-width:thin;
  border-radius:15px;
}
h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 2.5em;
  padding-top: 1em;
	color: white;
}

#pricing h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
	color: white;
}

#pricing li{
  color:#f2f2f2;
  background-color:#4d4d4d;
  display:inline-block;
  padding-left:2em;
  padding-right: 2em;
  padding-top:1em;
  padding-bottom:1em;
  margin-left: 0.5em;
  margin-right:0.5em;
  margin-top: 0.5em;
  border-style:inset;
  border-width:thin;
  border-radius:15px;
  
}

#pricing ol{
  text-align:center;
}

#tickets{
  text-align:center;
}

#tickets p{
  font-family: sans-serif;
  font-size: 1.5em;
	color:#0d0d0d; 
  padding-bottom:0.5em;
}

#button1{
  margin-top:0.5em;
  width: 9em;
  height: 3em;
}

li{
	padding-bottom: 0.5em;
}

nav{
	padding-left: 0.5em;
  padding-top: 0.5em;
	text-align: left;
	list-style-type: none;
	margin: 1em;
	overflow: hidden;
	color: white;
	display: inline;
 	vertical-align: top;
}

p{
  padding-left: 1em;
  padding-top: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
}

fieldset{
  border-style: solid;
  border-width: thin; 
  height: 6.25em; 
  border-color: #595959;
}

legend{
  margin-bottom: 0px; 
  font-size: 12px; 
  font-weight: bold;
  color: #1f497d;
}
/*Logo*/
#logo{
	display: block;
	 margin-left: auto;
	 margin-right: auto;
	max-width: 80%;
	text-align: center;
	/*font-size: 3em;
	float: right;
	padding-left: 5em;*/
}

/* for links */
a:link {
    text-decoration: none;
		color: purple;
}

a:visited {
    text-decoration: none;
		color: #660066;
}

a:hover {
    text-decoration: none;
		color: #ff3300;
}

a:active {
    text-decoration: underline;
		color: red;
}

/* css for slideshow on homepage */

#slideshow{
 /* margin: 3.125em /*50px div 16*/
  max-width:75em; /*1200px div 16*/
  height: 37.5em; /*600px div 16*/
  position: relative;
  margin: auto;
}

#posters{
  display:none;
}

#slideshow img{
  position:absolute;
  max-width:75em;
  height:37.5em;
}
/*img.error-not-fixed, img.error-fixed{
    display:inline-block;
    position:relative;
    width:128px;
    height:128px;
    border:15px solid #fff;
    border-radius:1px;
    margin:0px;
    background:#fff;
}
img.error-fixed {
    background: #CCC url(blackpanther.PNG) 0 0 no-repeat;
    text-indent: -9999px;
    border: 15px solid #fff;
    color: transparent;
    -webkit-appearance: none;
}*/

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2f2f2f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
div{
  text-align:center;
  padding-top: 0.625em /*10px div 16*/
}

/*css for get tickets page*/

#location{
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#address{

}
/* css for movies page */
li.movies{
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

}

#selectMovie{
	font-size: 2em;
}

#bp{
	padding-top: 1em;
}
#ls{
	padding-bottom: 3em;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:1em; 
 
}